Flask==3.0.3
flask-cors==4.0.1
gunicorn==22.0.0
pdfminer.six==20231228
pikepdf==9.4.2
python-dateutil==2.9.0.post0
pdfplumber>=0.11.3

pytesseract==0.3.10
pdf2image==1.17.0
Pillow>=10.0.0
opencv-python-headless>=4.9.0
